# For globally ignoring files use:
# git config --global core.excludesfile ~/.gitignore
# Otherwise copy this file in any repo folder
#
# Latex files
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.pdf
*.spl
*.synctex.gz
_region_*
auto/
# Other files
.DS_Store
node_modules/
*.code-workspace
.rubocop.yml
*.sublime-project
*.sublime-workspace
.vscode
*.conf.bak
debug
.idea/
__pycache__/
current-theme.conf
.opencode
OpenCode.md
