# This config file must be symlinked to
# $HOME/Library/Application Support/sioyek/keys_user.config

# # movement (can be prefixed with a number)
screen_down                          <C-d>
screen_down                          d
screen_up                            <C-u>
screen_up                            e
next_page;goto_top_of_page           J
previous_page;goto_top_of_page       K
goto_beginning;goto_top_of_page      gg
goto_end;goto_bottom_of_page         G
fit_to_page_height                   0
prev_state                           S
next_state                           D
toggle_dark_mode                     <C-r>
# move_down           <down>
# move_down           j
# move_up             <up>
# move_up             k
# move_left           <right>
# move_left           l
# move_right          <left>
# move_right          h


# # increment visual mark by one line
# move_visual_mark_down	<S-j>
# move_visual_mark_up	<S-k>
