/* 
copy or symlink in:
'~/Library/Application Support/Firefox/Profiles/auu01v15.default-release/chrome' 
In general, to find the correct folder, go to Firefox help and select
'Troubleshooting information'. From there, show in finder the 'Profile Folder'
and and go to the 'chrome' subfolder.
*/

#tabbrowser-tabs {
  --tab-min-height: 30px !important;
  --lwt-tab-line-color: transparent !important;
}

#toolbar-menubar[autohide='true'] > .titlebar-buttonbox-container {
  min-height: 30px !important;
}
#tabbrowser-tabs,
.tabbrowser-tab[pinned] {
  min-height: 30px !important;
}
#nav-bar {
  margin-left: calc(100vw - var(--uc-navigationbar-width));
  margin-top: calc(0px - var(--uc-toolbar-height));
}

/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/toolbars_below_content.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* Moves tabs toolbar, bookmarks toolbar and main toolbar to the bottom of the window, and makes tabs be the bottom-most toolbar */

/* By default, menubar will stay on top with two options to select it's behavior - see below */

/* @-moz-document url(chrome://browser/content/browser.xhtml) */
/* { */
/*   #titlebar { */
/*     -moz-appearance: none !important; */
/*   } */
/**/
/*   #navigator-toolbox > div { */
/*     display: contents; */
/*   } */
/*   .global-notificationbox, */
/*   #mainPopupSet, */
/*   #browser, */
/*   #customization-container, */
/*   #tab-notification-deck { */
/*     order: -1; */
/*   } */
/**/
/*   #titlebar { */
/*     order: 2; */
/*   } */
/**/
/*   #toolbar-menubar { */
/*     position: fixed; */
/*     display: flex; */
/*     width: 100vw; */
/*     top: 0px; */
/*     -moz-window-dragging: drag; */
/*   } */
/**/
/*   #navigator-toolbox { */
/*     border-bottom: none !important; */
/*   } */
/**/
/*   #toolbar-menubar > spacer { */
/*     flex-grow: 1; */
/*   } */
/**/
/*   #urlbar[breakout][breakout-extend] { */
/*     display: flex !important; */
/*     flex-direction: column-reverse; */
/*     bottom: 0px !important; */
/*     top: auto !important; */
/*   } */
/**/
/*   .urlbarView-body-inner { */
/*     border-top-style: none !important; */
/*   } */
/**/
/*   #TabsToolbar > .titlebar-buttonbox-container { */
/*     display: none; */
/*   } */
/*   #toolbar-menubar > .titlebar-buttonbox-container { */
/*     order: 1000; */
/*   } */
/**/
/*   .panel-viewstack { */
/*     max-height: unset !important; */
/*   } */
/**/
/*   :root[sizemode='fullscreen'] #navigator-toolbox { */
/*     margin-top: 0 !important; */
/*   } */
/*   :root[sizemode='fullscreen'] #navigator-toolbox[style*='margin-top'] { */
/*     visibility: collapse; */
/*   } */
/*   #fullscr-toggler { */
/*     bottom: 0; */
/*     top: unset !important; */
/*   } */
/**/
/*   #navigator-toolbox { */
/*     bottom: 0px; */
/*     transform-origin: bottom; */
/*   } */
/*   #main-window > body > box { */
/*     margin-top: 0 !important; */
/*   } */
/*   #toolbar-menubar { */
/*     z-index: 1; */
/*     background-color: var(--lwt-accent-color, black); */
/*   } */
/**/
/*   :root[BookmarksToolbarOverlapsBrowser] #navigator-toolbox { */
/*     margin-block: calc(-1 * var(--bookmarks-toolbar-height)) 0 !important; */
/*   } */
/*   :root[BookmarksToolbarOverlapsBrowser] .newTabBrowserPanel { */
/*     padding-block: 0 var(--bookmarks-toolbar-height) !important; */
/*   } */
/**/
/*   #titlebar { */
/*     flex-direction: column; */
/*   } */
/* } */
